.title {
    padding:20px;
    margin-top:0;
    background-color: pink;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
  }
  
  body {
    margin:0;
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: lightblue;
    position: fixed;
    top: 100px;
    width: 100%;
    z-index: 2;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #111;
  }
  
  .title_active {
    background-color: tomato;
  }

  #img {
    margin-left: auto;
    margin-right: auto;
    width: auto;
    width: 1150px;
    height: auto;
    height: 400px;
    top: 150px;
    background-color: white;
  }

  #link {
    top: 80px;
    width:400px;
    height: 500px;
    margin: auto;
    padding: auto;
  }

  #img_text {
    display: table;
    width: 100px;
    border:blue 1px solid;
    float:left;
    margin-top: 200px;
    font-weight: 900;
    font-size: large;
    color: red;
    margin-left: 190px;
  }