.title {
    padding: 20px;
    background-color: white;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
  }
  .title h1 {
    font-family: '微軟正黑體', 'arial black', sans-serif;
    color: lightseagreen;
    text-align: center;
    background-color: lightyellow;
    margin: 5px 5px 5px 5px;
    font-size: 50px;
    border-radius: 10px;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000,
    2px 2px 2px black;
  }
  
  body {
    margin: 0;
    background-color: gray;
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: lightblue;
    position: fixed;
    top: 100px;
    width: 100%;
    z-index: 2;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #111;
  }
  
  .title_active {
    background-color: tomato;
  }

  #img_text {
    display: table;
    width: 100px;
    border: blue 1px solid;
    float: left;
    margin-top: 200px;
    font-weight: 900;
    font-size: large;
    color: red;
    margin-left: 190px;
  }
